@import "~bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.width-25{
width: 25%;    
}

@media screen and (max-width:799px) {
  .width-25{
    width: 60%;    
    } 
}
